#box{
    padding: 10px;
    background-color: aqua;
    width: 600px;
    height: 200px;
    border: 2px solid black;
    opacity: 0.5;
}
img{
    float: left;
    width: 200px;
}
#box2{
    padding: 10px;
    background-color: aqua;
    width: 600px;
    height: 200px;
    border: 2px solid black;
    background: rgba(120, 0, 0, 0.1);
}
#box3{
    width: 700px;
    height: 200px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background: linear-gradient(yellow, red), url(../Images/flower.jpg);
    background-blend-mode: exclusion;
    mix-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 300px;
}
ul{
    margin-top: 200px;
    display: inline-block;
}
#b{
    width: 600px;
    background-image: url(../Images/flower.jpg);
    background-repeat: no-repeat;
    height: 200px;
    border: 2px dotted green;
    mix-blend-mode: darken;
}